.selectr-overlay {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
	display: none;
}

.selectr-overlay.active {
	display: block;
}

.selectr-container {
	position: relative;
}

.selectr-container .hidden-input {
	border: 0 none !important;
	clip: rect(0px, 0px, 0px, 0px) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.selectr-selected {
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	min-height: 36px;
	padding: 7px 28px 7px 14px;
	position: relative;
	width: 100%;
	z-index: 9999;
}

.selectr-selected::after {
	border-color: #6c7a86 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: "";
	height: 0;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: rotate(0deg) translate3d(0px, -50%, 0px);
	width: 0;
}

.selectr-text {
	display: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.selectr-placeholder {
	color: #6c7a86;
}

.selectr-tags {
	white-space: normal;
	padding: 0;
	margin: 0 0 -2px;
}

.selectr-tag {
	background: #acb7bf none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	color: #fff;
	cursor: default;
	display: inline-block;
	min-height: 20px;
	margin: 0 2px 2px 0;
	padding: 2px 25px 2px 8px;
	position: relative;
}

.selectr-options-container {
	background-color: #fff;
	border-color: transparent #999 #999;
	border-radius: 0 0 3px 3px;
	border-style: solid;
	border-width: 0 1px 1px;
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: calc(100% - 1px);
	width: 100%;
	z-index: 10000;
}

.selectr-container.open .selectr-options-container {
	display: block;
}

.selectr-input-container {
	position: relative;
}

.selectr-clear, .selectr-tag-remove {
	background-color: transparent;
	border: medium none;
	cursor: pointer;
	height: 20px;
	padding: 0;
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translate3d(0px, -50%, 0px);
	width: 20px;
}

.selectr-clear {
	display: none;
}

.selectr-tag-remove {
	right: 2px;
}

.selectr-clear::before, .selectr-clear::after,
.selectr-tag-remove::before, .selectr-tag-remove::after {
	background-color: #6c7a86;
	content: " ";
	height: 10px;
	left: 9px;
	position: absolute;
	top: 6px;
	width: 2px;
}

.selectr-tag-remove::before, .selectr-tag-remove::after {
	background-color: #fff;
	height: 12px;
	top: 4px;
	width: 3px;
}

.selectr-clear:before, .selectr-tag-remove::before {
	transform: rotate(45deg);
}

.selectr-clear:after, .selectr-tag-remove::after {
	transform: rotate(-45deg);
}

.selectr-input-container.active .selectr-clear {
	display: block;
}

.selectr-input {
	border: 1px solid #999;
	border-radius: 3px;
	box-sizing: border-box;
	left: 5px;
	margin: 10px 15px;
	padding: 8px 30px 8px 16px;
	top: 5px;
	width: calc(100% - 30px);
}

.selectr-options {
	position: relative;
	margin: 0;
	padding: 0;
	top: calc(100% + 2px);
	overflow: auto;
	max-height: 200px;
}

.selectr-options > li {
	cursor: pointer;
	display: block;
	list-style: outside none none;
	padding: 5px 20px;
	position: relative;
}

.selectr-options.optgroups > li.selectr-option {
	padding-left: 25px;
}

.selectr-options > li.selectr-optgroup {
	font-weight: bold;
}

.selectr-options > li > span {
	color: #00a8ff;
}

.selectr-options > li.selectr-option:hover,
.selectr-options > li.selectr-option.active,
.selectr-options > li.selectr-option.selected.active {
	color: #fff;
	background-color: #5897fb;
}

.selectr-options > li.selectr-option.selected {
	background-color: #ddd;
}

.selectr-options > li.selectr-option.excluded {
	display: none;
}

.selectr-option.match {
	background-color: #1ab394 !important;
	color: #fff !important;
}

.selectr-options > li > * {
	pointer-events: none;
}

.selectr-container.open .selectr-selected {
	border-radius: 3px 3px 0 0;
	border-color: #999 #999 transparent #999;
}

.selectr-container.open .selectr-selected::after {
	transform: rotate(180deg) translate3d(0px, 50%, 0px);
}

.selectr-container.disabled {
	opacity: 0.6;
}

.selectr-options > li.selectr-empty,
.has-selected .selectr-placeholder {
	display: none;
}

.has-selected .selectr-text {
	display: block;
}

.selectr-input-container.loading::after {
	border-color: #aaa #ddd #ddd;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate3d(0px, -50%, 0px);
	transform-origin: 50% 0 0;
	animation: 500ms linear 0s normal forwards infinite running spin;
}

@keyframes spin {
	0% {
		transform: rotate(0deg) translate3d(0px, -50%, 0px);
	}
	100% {
		transform: rotate(360deg) translate3d(0px, -50%, 0px);
	}
}

.selectr-container.open.inverted .selectr-selected {
	border-color: transparent #999 #999;
	border-radius: 0 0 3px 3px;
}

.selectr-container.inverted .selectr-options-container {
	background-color: #fff;
	border-color: #999 #999 transparent;
	border-radius: 3px 3px 0 0;
	border-width: 1px 1px 0;
}

.selectr-container.inverted .selectr-options-container {
	bottom: calc(100% - 1px);
	top: auto;
}